  <div class="pure-u-1-4">
    &nbsp;
  </div>

  <div class="pure-u-1-2">
    <h2>HearUs</h2>
    <p>&nbsp;<br>
      <a href="#" class="start-about-tour">
        <span class="icon-stack">
          <i class="icon-circle-blank icon-stack-base"></i>
          <i class="icon-question"></i>
        </span>
      </a>
      <h4>About HearUs</h4>
      <span class="step1">Freedom of Speech +1.</span>
  </div>

  <div class="pure-u-1-4">
    &nbsp;
  </div>
