<div class="pure-g-r">
  <div class="pure-u-1-3">
    &nbsp;
  </div>

<div class="pure-u-1-3">
  <p>&nbsp;<br>
  <%= form_for :zip_code, url: users_path, html: { class: "pure-form" } do |f| %>
    <label for="search" style="color:white;float:right;">Zip Code</label>
    <%= f.text_field :search, placeholder: "Zip Code", autofocus: true %>
    <%= f.submit "Go", class: "pure-button pure-button-primary" %>
  <% end %>
</div>

  <div class="pure-u-1-3">
    &nbsp;
  </div>
</div>
