<div class="pure-g-r">
  <div class="pure-u-1-4">
    &nbsp;
  </div>

  <div class="pure-u-1-2">
    <%= render partial: "partials/zipcode" %>
      <a class="openmodalbox" href="javascript:void(0);">
        <span class="icon-stack">
          <i class="icon-circle-blank icon-stack-base"></i>
          <i class="icon-question"></i>
        </span>
        <span class="modalboxContent">
          <h3>Zipcode Search</h3>
          Enter your zipcode and find your local representative.<br>
          We respect privacy (link_to privacy_path).
        </span>
      </a>
  </div>

  <div class="pure-u-1-4">
    &nbsp;
  </div>
</div>
