<section class='landing-page'>
  <div class="logo">
    <h1 class="title">HearUs</h1>
    <p>Your voice being heard on issues that you care about</p>
  </div>
  <%= render partial: "partials/issue_search" %>
  <div class="search-description">
    <span>this will explain the search bar</span>
  </div>
  <%= render partial: "partials/zipcode" %>
  <div class="privacy-policy">
    <span>this will expain how we use your zipcode and our <a href="#">privacy policy</a></span>
  </div>
</section>
