<div class="issues-search">
  <%= form_tag("/bills/find", method: "get") do %>
    <%= label_tag(:search, "") %>
    <%= text_field_tag(:search, nil, placeholder: "Find an Issue") %>
    <%= submit_tag("Search", class: "issues-search-button") %>
  <% end %>
</div>
