<%= link_to "javascript:void(0)", :class => "openmodalbox" do %>
  <span class="icon-stack">
    <i class="icon-circle-blank icon-stack-base"></i>
    <i class="icon-question"></i>
  </span>
  <span class="modalboxContent">
    <h3>Detect Location</h3>
    With your permission, we can auto-detect location for you.<br>
    Your location data will not be recorded by the site in any way.
  </span>
<% end %>

<%= link_to "javascript:void(0);", class: "openmodalbox" %>

<%= link_to "javascript:void(0);", class: "openmodalbox" do %>
  <span class="icon-stack">
    <i class="icon-circle-blank icon-stack-base"></i>
    <i class="icon-question"></i>
  </span>
  <span class="modalboxContent">
    <h3>Address Search</h3>
    Enter your address and find your local representative.<br>
    We respect privacy (link_to privacy_path).
  </span>
<% end %>



