<%= link_to "/auth/twitter" do %>
  <span class="icon-stack">
    <i class="icon-check-empty icon-stack-base"></i>
    <i class="icon-twitter"></i>
  </span>
<% end %>

<%= link_to "/auth/facebook" do %>
  <span class="icon-stack">
    <i class="icon-check-empty icon-stack-base"></i>
    <i class="icon-facebook"></i>
  </span>
<% end %>
