  <p>&nbsp;<br>
    <a href="#" class="start-home-tour">
      <span class="icon-stack">
        <i class="icon-circle-blank icon-stack-base"></i>
        <i class="icon-question"></i>
      </span>
    </a>
    <%= form_tag set_districts_path, :method => 'post', :class => "pure-form" do %>
    <label for="zipcode" style="color:white;float:right;">Zip Code</label>
    <%= text_field_tag "zipcode", nil, :size => 12, :maxlength => 5, class: "step1", placeholder: "Zip Code", autofocus: true, required: true, pattern: "[0-9]{5}" %>
    <%= submit_tag "Go", :class => "pure-button pure-button-primary" %>
    <% end %>
  </p>
