  <div class="pure-u-1-4">
    &nbsp;
  </div>

  <div class="pure-u-1-2">
    <p>Synchronize accounts here
    <p>Email: <%= @user.email %>
    <div id="latlng">
      <p><button onclick="geoLocate()">Detect My Location</button>
      &nbsp;
    </div>
    <a href="#" class="tour-start">
      <span class="icon-stack">
        <i class="icon-circle-blank icon-stack-base"></i>
        <i class="icon-question"></i>
      </span>
    </a>
  </div>

  <div class="pure-u-1-4">
    &nbsp;
  </div>
