<div>
    <p>Synchronize accounts</p>
      <p><%= render partial: "partials/social_media" %></p>
      <p>User ID: <%= @user.id %></p>
      <p>Email: <%= @user.email %></p>
      <% @account = Account.find_by_user_id(session[:user_id]) %>
      <% if @account %>
        <p>Account number <%= @account.id %></p>
      <% end %>
  </div>
