<div class="pure-g-r">
  <div class="pure-u-1-4">
    &nbsp;
  </div>

  <div class="pure-u-1-2">
    <% if @user %>
      <% @user.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>

    <%= render partial: "partials/register", layout: false %>
  </div>

  <div class="pure-u-1-4">
    &nbsp;
  </div>
</div>
