  <div class="pure-u-1-4">
    &nbsp;
  </div>

  <div class="pure-u-1-2">
    <h2>HearUs</h2>

      <% @errors.each do |error| %>
        <p><%= error %></p>
      <% end %>

    <%= render partial: "partials/register", layout: false %>
  </div>

  <div class="pure-u-1-4">
    &nbsp;
  </div>
