<p>&nbsp;<br>
<span class="icon-stack">
  <i class="icon-check-empty icon-stack-base"></i>
  <i class="icon-twitter"></i>
</span>
<p>&nbsp;<br>
<span class="icon-stack">
  <i class="icon-circle-blank icon-stack-base"></i>
  <i class="icon-question"></i>
</span>
<div id="latlng">
  <p><button onclick="geoLocate()">Show my location</button>
  &nbsp;
</div>
