<p>&nbsp;<br>
<span class="icon-stack">
  <i class="icon-check-empty icon-stack-base"></i>
  <i class="icon-twitter"></i>
</span>
<p>&nbsp;<br>
<span class="icon-stack">
  <i class="icon-circle-blank icon-stack-base"></i>
  <i class="icon-question"></i>
</span>
<div id="latlng">
  <p><button onclick="geoLocate()">Show my location</button>
  &nbsp;
</div>
<a class="openmodalbox" href="javascript:void(0);">
  Demolink
  <span class="modalboxContent">
    <h3>Test Modalbox</h3>
    Identius, ora Disicio...
  </span>
</a>
