  <div class="pure-u-1-4">
    &nbsp;
  </div>

  <div class="pure-u-1-2">
    <p>&nbsp;<br>
    <a href="#" class="start-bill-tour">
      <span class="icon-stack">
        <i class="icon-circle-blank icon-stack-base"></i>
        <i class="icon-question"></i>
      </span>
    </a>
      <p>Find bills here<br>
        <p><% @bills.each do |bill| %>
          <%= bill["short_title"] %>
          <%= bill["bill_id"] %>

        <% end %>
  </div>

  <div class="pure-u-1-4">
    &nbsp;
  </div>
