<div class="content">
  <p>
    We were unable to determine your district by your zipcode alone, please povide some additional information to allow us to find the district that you reside in.  Remeber that none of the data that you enter is saved, please read our <a href="#">Privacy Policy</a> for more information about how we treat your data.
  </p>
  <%= render partial: "partials/find_district" %>
</div>
